@model PagedList.IPagedList<QLSV.Models.Student>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>

@using (Html.BeginForm("Index", "Students", FormMethod.Get))
{

    
<p>
    <input type="submit" class="btn btn-primary" value="Search" />
     @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @placeholder = "Search By Name Or Email"  })
</p>

}


<table class="table">
    <tr>
        <th>
            Roll Number
        </th>
        <th>
            Full Name
        </th>
        <th>
            Birthday
        </th>
        <th>
            Email
        </th>
        <th>
            Phone
        </th>
        <th>
            Address
        </th>
        <th>
            Avatar
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.rollNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.birthday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.avatar)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                <a data-toggle="modal" data-target="#myModal_@item.Id">
                    Delete
                </a>

                <div class="modal" id="myModal_@item.Id">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Warning!!</h4>

                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">
                                <span>Are your sure delete student</span> <span class="text-uppercase" style="text-decoration: underline; font-weight: bold">@item.fullName </span> ?
                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <!-- Cỏntroller -->
                                @using (Html.BeginForm("Delete", "Students", new { id = item.Id }))
                                {
                                    @Html.AntiForgeryToken()
                                    <input type="submit" value="Delete" class="btn btn-default btn-danger" />
                                    <input type="button" class=" btn btn-default " data-dismiss="modal" value="Cancel" />
                                }


                            </div>

                        </div>
                    </div>
                </div>
            </td>
        </tr>
    }

</table>
<button type="button" class="btn btn-default">
    @Html.ActionLink("Create New", "Create")
</button>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
